*.csv
.ipynb_checkpoints/base-forms.xlsx
.ipynb_checkpoints/
base-forms.xlsx
.DS_Store
verbs_output.csv
gitignore
all_verbs.csv
~$base-forms.xlsx
.Rhistory
all_verbs_j_inserted.csv
all_verbs_me_changed.csv
all_verbs_den_change.csv
all_verbs_palatalization.csv

all_verbs_den_din.csv
all_verbs_e_backing.csv
all_verbs_prog_e_raising_backing.csv
all_verbs_prog_rounding.csv
all_verbs_raised_prefix.csv
all_verbs_reg_rounding.csv
all_verbs_a_raising.csv
"all_verbs_and\312\222an_fix.csv"
all_verbs_d_deletion.csv
all_verbs_reg_e_raising_backing.csv
all_verbs_vowel_deletion.csv
"all_verbs_\311\233i_to_\311\233j.csv"
check_forms_later.docx
~$eck_forms_later.docx
all_verbs_ar_fix.csv
all_verbs_dash_remover.csv
all_verbs_delete_dashes.csv
all_verbs_e_raising_before_j.csv
all_verbs_e_raising_j.csv
"all_verbs_ind\312\222_fix.csv"
all_verbs_me_der_fix.csv
"all_verbs_mo_n_o\317\207\312\214r_fix.csv"
all_verbs_monor_fix.csv
all_verbs_null_morph_deletion.csv
"all_verbs_o\312\214i_to_o\312\214j.csv"
all_verbs_palatalization2.csv
all_verbs_paranthesis_remover.csv
all_verbs_star_fixer_single_consonant.csv
all_verbs_star_fixer_t.csv
"all_verbs_star_fixer_t\312\203.csv"
all_verbs_starred.csv
all_verbs_stress_changer.csv
all_verbs_stress_fixer_final.csv
all_verbs_vowel_deletion2.csv
base-forms_all.xlsx
all_verbs_ind\312\222_fix.csv
all_verbs_mo_n_o\317\207\312\214r_fix.csv
all_verbs_o\312\214i_to_o\312\214j.csv
all_verbs_star_fixer_t\312\203.csv
